<div id="rumor-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">[[currentTransfer.player.name]]</h2>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
          <li>
            Date of Birth: [[currentTransfer.player.dateOfBirth| date:'shortDate']]
          </li>
        <li>
          Nation of Origin: [[currentTransfer.player.nation]]
        </li>
        <li>
          Postion: [[currentTransfer.player.position]]
        </li>
      </ul>
      <h4>Transfers</h4>
      <div id="transfer-text">
        <br>
        <br>
        <br>
      </div>
      <h4>Transfer Rumors</h4>
        <div id="rumor-text" class="">
          <br>
          <br>
          <br>
       </div>
        <div class="col-md-10" rumor-chart currentTransfer='currentTransfer' transferdata='transferdata' rumors='rumors'></div>
      </div>
      
     <!--  <div class='col-md-10' id="rumor-results" rumor-chart clubs='clubs' transferdata='transferdata' filter='filter' dataLoaded='dataLoaded' chartData='chartData' currentTransfer='currentTransfer' results='results' currentClub='currentClub'>
        </div> -->
      <!-- <div class="container">
        <h4>Reported rumors: [[rumors.length]]</h4>
        <div ng-repeat='rumor in rumors'>
          Date: [[rumor.date| date:'shortDate']]<br>
          [[rumor.movingFrom]] &#8594; [[rumor.movingTo]]
        </div>
      </div> -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->