body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.modal-footer{
  border-top: 0px;
}

#rumor-text{
  height:120px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle:hover {
    cursor: pointer;
}

text:hover {
  cursor: pointer;
}

.grey-out {
  fill: #eeeeee;
}

.nation-england{
  fill: #ff3738;
}

.nation-germany{
  fill: #fe781e;
}

.nation-italy{
  fill: #41bb19;
}

.nation-france{
  fill: #1570a6;
}

.nation-spain{
  fill: #9b59bb;
}

.nation-other{
  fill: ##1ba1e2;
}

.age-under{
  fill: #41bb19;
}

.age-20{
  fill: #1570a6;
}

.age-30{
  fill: #ff3738;
}

.age-over{
  fill: #9b59bb;
}

.age-unknown{
  fill:#000;
}

/*.age-goalkeeper{ 
  fill: #ff3738;
}

.age-unknown{
  fill: #000000;
}*/

.position-midfielder{
  fill: #9b59bb;
}

.position-defender{
  fill: #fe781e;
}

.position-goalkeeper{ 
  fill: #ff3738;
}

.position-forward{
  fill: #41bb19;
}


.fee-signed{
  fill: #1570a6;
}

.fee-loan{
  fill: #fe781e;
}

.fee-free{
  fill: #41bb19;
}

.fee-disclosed{
  fill: #ff3738;
}


.tottenham-hotspur{
  fill: #0A1F48;
}
.arsenal{
  fill: #c70003;
}
.aston-villa{
  fill: #480024;
}
.blackburn-rovers{
  fill:#3402FD;
}
.bolton-wanderers{
  fill:#0D0060;
}
.cardiff-city{
  fill:#CE0000;
}
.chelsea{
  fill:#09337C;
}
.crystal-palace{
  fill:#4267DC;
}
.everton{
  fill: #004F9D;
}
.fullham{
  fill: #000000;
}
.hull-city{
  fill: #F1AE00;
}
.liverpool{
  fill: #d3171e;
}
.manchester-city{
  fill: #5cbfeb;
}
.manchester-united{
  fill: #c70101;
}
.newcastle-united{
  fill: #2c2c2c;
}
.norwich-city{
  fill: #00a94f;
}
.queens-park-rangers{
  fill:#3402FD;
}
.reading{
  fill:#1F4494;
}
.stoke-city{
  fill: #D7172F;
}
.southampton{
  fill: #d71920;
}
.sunderland{
  fill: #e12e44;
}
.west-bromwich-albion{
  fill: #002868;
}
.west-ham-united{
  fill: #771A3D;
}
.wigan-athletic{
  fill:#3402FD;
}
.wolverhampton-wanderers{
  fill:#CA5811;
}