<br>
<button type="button" class="btn btn-default pull-right" ng-click="getHelp()"><span class="glyphicon glyphicon-question-sign"> Help</span></button>
<div class="row">
	<h2 class="text-center"> [[filter.league]] Transfers</h2>
</div>
<div class="row well" data-intro="Filter the graph by using the controls on this row">
	<div id="league-select" class="col-md-2">
		<label>Select league:</label>
		<select class="form-control" ng-model="filter.league" ng-change="loadData()">
			<option value="English Premier">English Premier</option>
			<option value="Spanish Primera Liga">Spanish Primera Liga</option>
			<option value="German Bundesliga 1">German Bundesliga 1</option>
			<option value="Italian Serie A">Italian Serie A</option>
		</select>
	</div>
	<div id="transfer-type-select" class="col-md-2">
		<label>Select transfer type:</label>
		<select class="form-control" ng-model="filter.type" ng-change="loadData()">
			<option value="to">Moving to</option>
			<option value="from">Moving from</option>
		</select>
	</div>
	<div class="col-md-2">
		<label>Start date:</label>
		<div class="input-group">
	  		<input class="form-control" type="text" ng-model="filter.datepicker.startDate" data-date-format="mm/dd/yyyy" bs-datepicker>
	  		<div class="input-group-btn" data-toggle="datepicker">
	  			<button type="button" class="btn btn-default" >
	  				<span class=""><i class="glyphicon glyphicon-calendar"></i></span>
	  			</button>
	  		</div>
	  	</div>
	</div>
	<div class="col-md-2">
		<label>End date:</label>
		<div class="input-group">
	  		<input class="form-control" type="text" ng-model="filter.datepicker.endDate" data-date-format="mm/dd/yyyy" bs-datepicker>
	  		<div class="input-group-btn" data-toggle="datepicker">
	  			<button type="button" class="btn btn-default" >
	  				<span class=""><i class="glyphicon glyphicon-calendar"></i></span>
	  			</button>
	  		</div>
	  	</div>
	</div>
	<div class=" col-md-2">
		<label>View by:</label>
		<select class="form-control" ng-model="filter.view">
			<option value="position">Position</option>
			<option value="fee">Fee</option>
			<option value="age">Age</option>
			<option value="nation">Nationality</option>
		</select>
	</div>
	<div class="col-md-2">
		<label>Search:</label>
		<input class="form-control" ng-model="filter.searchValue">
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-2 well" style="height:400px; overflow: scroll;" data-intro="Select the clubs you are interested in" data-position="right">
		<label>Show transfers:</label>
		<select class="form-control" ng-model="filter.show">
			<option value="all">All</option>
			<option value="interleague">Interleague Only</option>
			<option value="outerleague">Out of League Only</option>
		</select>
		Select <a ng-click="selectAllClubs()">All</a> | <a ng-click="unselectAllClubs()">None</a> Clubs
		<ul class='list-unstyled'>
			<li class='' ng-repeat='club in clubs'>
				<label>
					<input type='checkbox' ng-model='club.view'> 
					<img ng-show="club.crestUrl.length>0" ng-src="[[club.crestUrl]]" width=20 height=20>
					[[club.name]]
				</label>
			</li>
		</ul>
	</div>
	<div class='col-md-10' id="transfer-frequency" transfer-frequency clubs='clubs' transferdata='transferdata' filter='filter' dataLoaded='dataLoaded' chartData='chartData' currentTransfer='currentTransfer' results='results'></div>
</div>
<div class="row">
	
</div>
<div class="row">
	<div class="col-md-6">
	</div>
</div>
{% include "partials/rumorModal.html" %}
